@model se_CodeFirst_3.Models.Contract

@{
    ViewBag.Title = "اطلاعات متن قرارداد";
}

<h2 class="page-title page-title-details"><span class="glyphicon glyphicon-list-alt"></span> @ViewBag.Title</h2>

<div class="col-sm-offset-2 col-sm-8 table-responsive">
    <table class="table table-hover table-bordered table-striped">
        <tr class="success">
            <th>اطلاعات متن قرارداد</th>
            <th></th>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Content)</td>
            <td>@Html.DisplayFor(model => model.Content)</td>
        </tr>
    </table>
</div>

<a href="~/Contracts/Index" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> برگشت به لیست</a>
